
body,html{
    height: 100%;
}

.parallax{
    background-image: url("images/blueclouds.jpg");

  /* Set a specific height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
} 
.showallcoins{
    position: relative;
    left: 4%;
}
.header{
    height: 200px;
    background-color: brown;
    color: aliceblue;
     
}

h2{
    position: relative;
    left: 20px;
    top: 60px;
    display: inline-block;
    margin-bottom: 0;
}

.header img{
    height: 100px;
    width: 100px;
    float: right;
    position: relative;
    top:110px;
    /* border-bottom: 1px solid black; */
    
}

.nav-item{
    margin-left: 20px;
    padding: 5px;
    
}
.navbar-nav{
    color: gold;
}


.navbar .navbar-nav .nav-item:hover{
    background: rgb(109, 3, 3);
    color: gold;
    border-radius: 20px;
    
}

.cube{
    border : 1px solid gold;
    padding : 10px ;
    margin: 5px;
    float: left;
    color: beige;
    /* width: 150px; 
    height: 170px; */
}
/* 
.onecube{
    border: 1px solid gold;
    padding: 10px;
    position: relative;
    width: 300px;       
    height: 200px;
    left: 130%;
    color: beige;
} */



.large-gif{
    height: 600px;
    width: 900px;
          
}

.small-gif{
    height: 150px;
    width: 200px;
}

.dollar,.euro,.shekel{
    color:black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 23px;
  } 
  
  /* Hide default HTML checkbox */
   .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
   
  /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .slider_but{
      position: relative;
      left: 220px;
      bottom: 24px;
      width: 45px;  
      margin: 0;    
  }

  .modalslider_but{
    position: relative;
    /* left: 220px;
    bottom: 24px; */
    width: 45px;  
    margin: 0;   
  }


.card.card-body.collapse.show{
    height: 385px;
    width: 270px;
}

.inside{
    margin: 0 auto ;
}

.inside img{
    height: 100px;
    width: 100px;
}

  /* this is the close button */
  .cls {
     float: right;
}
  
.sveit{
    float: left;
}